@import_url(css/normalize.css);
@font-face {
    font-family: 'akrobatblack';
    src: url('/font/akrobat-black.woff2') format('woff2'),
         url('/font/akrobat-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatbold';
    src: url('/font/akrobat-bold.woff2') format('woff2'),
         url('/font/akrobat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatextrabold';
    src: url('/font/akrobat-extrabold.woff2') format('woff2'),
         url('/font/akrobat-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatextralight';
    src: url('/font/akrobat-extralight.woff2') format('woff2'),
         url('/font/akrobat-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatlight';
    src: url('/font/akrobat-light.woff2') format('woff2'),
         url('/font/akrobat-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatregular';
    src: url('/font/akrobat-regular.woff2') format('woff2'),
         url('/font/akrobat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatsemibold';
    src: url('/font/akrobat-semibold.woff2') format('woff2'),
         url('/font/akrobat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatthin';
    src: url('/font/akrobat-thin.woff2') format('woff2'),
         url('/font/akrobat-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Mobil Tasarım */
@media only screen and (max-width: 767px) and (min-width: 0px){ 
body{
	background-color:black;
}
.menu_mobil{
	float:left;
margin-right:50px;
margin-top:-50px;
position:absolute;
	right:0px;
}
.gizlepc img{
	width:64px;
	height:64px;
}
.menu_mobil ul li{
	list-style-type:none;
}
.ul{
	display:none;
}
.menu_buton button{
	position:absolute;
	left:-9999px;
}
.menu_buton img{
	width:36px;
	height:36px;
}
.menu_buton img:hover{
	cursor:pointer;
}
.menu_buton{
	margin-bottom:6px;
	float:right;
	display:inline-block;
	
}
.ul li{
	background-color:black;
	border-radius:14px;
	text-align:center;
	padding:8px;
	border-bottom:1px solid white;
	margin-top:3px;
}
.ul li a:hover{
	color:lightgreen;
	border-bottom:1px solid lightgreen;
}
.ul li a{
	text-decoration:none;
	margin-top:2px;
	color:white;
	
	
}
.menu{
	display:none;
}

}
/* Tablet,Mobil Ve Notebook Tasarım */
@media only screen and (max-width: 991px) and (min-width: 768px){
}
/* PC TASARIMI */
@media only screen and (min-width: 992px){ 
body{
margin:0 auto;
padding:0 auto;
}
header{
	background-color:#009999;
	padding:10px;
}
header h1{
	color:white;
	font-family:akrobatblack;
}
header sub{
	margin-left:30px;
	color:white;
	font-family:akrobatsemibold;
}
footer{
	margin-top:700px;
	color:white;
	background-color:#339999;
	padding:6px;
	font-family:akrobatsemibold;
	text-align:center;
}
footer img{
	width:32px;
	height:32px;
	border:1px solid white;
	border-radius:100%;
}
footer ul li{
	list-style-type:none;
	float:left;
	margin-left:4px;
}
footer ul{
	margin-left:-45px;
}
footer sub{
	margin-left:-154px;
}
a{
	text-decoration:none;
}
.menu_mobil{
	display:none;
}
.menu{
position:absolute;
right:1%;
width:75%;
margin-top:-75px;
}
.menu ul li{
	
	list-style-type:none;
	float:left;
	margin-left:6px;
	border:1px solid rgba(255,255,255,.4);
	
	border-radius:14px;
	padding:6px;
}
.menu ul li a{
	font-size:22px;
	color:white;
	padding:6px;
	font-family:akrobatblack;
}
.menu ul li:hover{
	background-color:#339999;
	transition:1s;
	
}
.diger:hover > ul{
	
	text-align:left;
	background-color:black;
	padding:6px;
	border-radius:14px;
}
.diger:hover{
	background-color:black;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border:1px solid white;
	padding:6px;
	min-height:140px;
	text-align:center;
}
.menuac1{
	display:none;
}
.diger:hover > a{
	color:white;
}
.diger:hover > ul li a{
font-family:akrobatbold;
font-size:14px;
}
.diger:hover ul li:hover{
	background-color:rgba(255,255,255,.2);
	border-radius:14px;
	
}
.diger:hover ul li{
	margin-top:4px;
	padding:8px;
	border:none;
	
}
.diger:hover > ul li img{
	width:16px;
	height:16px;
	margin-left:4px;
}
.menu ul ul{
	display:none;
}
.sag{
	float:right;
	margin-top:5px;
	width:15%;
	padding:12px;
	font-family:akrobatblack;
	color:white;
	border:1px solid rgba(137,215,215,1);
	background-color:rgba(10,114,114,1);
}
.kategoriler{
	background-color:rgba(255,255,255,.1);
	padding:12px;
	border:1px solid white;
	border-radius:14px;
}
.kategoriler h1{
	font-size:20px;
	padding-bottom:6px;
	border-bottom:1px solid rgba(255,255,255,.4);
}
.kategoriler a{
	text-decoration:none;
	color:lightgray;
	margin-left:6px;
	font-family:akrobatlight;
	font-size:22px;
}
.kategoriler a:hover{
	color:yellow;
}
.uygulamalar{
	float:top;
	background-color:rgba(0,0,0,.2);
	color:white;
	line-height:25px;
	font-family:akrobatregular;
	width:75%;
	margin-left:25px;
	margin-top:55px;
	padding:15px;
	min-height:600px;
	border-radius:14px;
}
.uygulamalar a{
	color:white;
}
.uygulamalar img{
	margin-top:25px;
	margin-bottom:25px;
	border-radius:14px;
	border:1px white;
	width:256px;
	height:256px;
}
.uygulama_baslik{
	font-size:30px;
	font-family:akrobatblack;
	margin-bottom:16px;
}
.indir{
width:50%;
margin-top:25px;
background-color:rgba(255,255,255,.4);
padding:14px;
border-radius:14px;
}
.indir a{
	text-decoration:none;
	color:white;
	font-family:akrobatextrabold;
font-size:20px;
}
.indir a:hover{
font-family:akrobatextrabold;
font-size:22px;
}
.indir:hover{
	background-color:rgba(255,255,255,.6);
}
.uygulama_tarih{
	color:white;
	font-size:22px;
	font-family:akrobatlight;
}
.sayfalama{
	margin-top:45px;
	margin-left:50px;
}
.sayfalama ul li{
	list-style-type:none;
	float:left;
	margin-left:15px;
	display:inline-block;
}
.sayfalama ul li span{
	background-color:white;
	border-radius:14px;
	padding:16px;
	border:2px solid lightgreen;
	color:black;
	font-family:akrobatsemibold;
}
.sayfalama ul li a{
	background-color:white;
	padding:14px;
	border-radius:14px;
	border:1px solid black;
	color:black;
	font-family:akrobatsemibold;
}
.giris_yap{
	margin-top:155px;
	background-color:rgba(255,255,255,.3);
	padding:16px;
}
.giris_yap input{
font-family:akrobatbold;
background-color:white;
margin-top:6px;
font-size:20px;
border-radius:14px;
border:1px solid black;
padding:8px;
}
.giris_yap h1{
	color:white;
	font-size:35px;
	font-family:akrobatblack;
}
.giris_yap button{
	background-color:white;
	color:black;
	font-weight:bold;
	border-radius:14px;
	padding:8px;
	text-align:center;
}





}